.root { -fx-background-color: #f6fafd; }
.label, .text {
    -fx-font-family: "IBM Plex Sans";
    -fx-text-fill: #0b4275;
}

.title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}
.card {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.0, 0, 3);
}

.button {
    -fx-background-color: #0b4275;
    -fx-text-fill: #f6fafd;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15;
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.0, 0, 3);
    -fx-cursor: hand;
}
.button:hover, .button:focused {
    -fx-background-color: #409df4;
}
.button:armed  {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.button.secondaryButton {
    -fx-background-color: #c1d7f0;
    -fx-text-fill: #0b4275;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15;
    -fx-opacity: 0.9;
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.0, 0, 3);
}
.button.secondaryButton:hover, .button.secondaryButton:focused{
    -fx-border-color: #409df4;
}
.button.secondaryButton:armed  {
    -fx-scale-x: 0.97;
    -fx-scale-y: 0.97;
}

.text-field {
    background-color: #f6fafd;
    -fx-text-fill: #0b4275;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: #0b4275;
    -fx-background-insets: 0, 1;
    -fx-prompt-text-fill: rgba(11, 66, 117, .5);
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.0, 0, 3);
    -fx-highlight-fill: #409df4;
    -fx-highlight-text-fill: #f6fafd;
}
.text-field:focused {
    -fx-border-color: #409df4;
}
.text-field:disabled {
    -fx-background-color: #f6fafd;
    -fx-border-color: rgba(11, 66, 117, 0.3);
    -fx-prompt-text-fill: rgba(11, 66, 117, 0.2);
    -fx-cursor: default;
    -fx-opacity: 0.8;
}

.hyperlink {
    -fx-text-fill: #409df4;
    -fx-underline: false;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.hyperlink:hover, .hyperlink:focused {
    -fx-underline: true;
}
.hyperlink:armed {
    -fx-underline: true;
    -fx-focus-color: #409df4;
    -fx-faint-focus-color: #409df4;
}

.radio-button {
    -fx-text-fill: #0b4275;
    -fx-cursor: hand;
    -fx-padding: 2 0;
    -fx-font-size: 14px;
}
.radio-button .radio {
    -fx-background-color: #c1d7f0;
    -fx-border-color: #0b4275;
    -fx-border-width: 2;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}
.radio-button:hover .radio, .radio-button:focused .radio, .radio-button:selected .radio {
    -fx-border-color: #409df4;
}
.radio-button:selected .dot {
    -fx-background-color: #409df4;
    -fx-translate-y: -1;
}