/* .text-field:focused {
    -fx-border-radius: 3;
    -fx-background-color: #e0f7fa;
    -fxbox-shadow: #d40000 5 solid;
} */

.text-field {
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4px, 3px;
}

.text-field:focused {
    -fx-border-color: #ff0000;
}
